<nav class="navbar-custom">
    <!-- <ul class="list-unstyled topbar-right-menu float-right mb-0">
        <li class="hide-phone app-search">
            <form>
                <input type="text" placeholder="Search..." class="form-control">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href=javascript:void(0) role="button"
                aria-haspopup="false" aria-expanded="false">
                <i class="far fa-bell noti-icon"></i>
                <span class="badge badge-danger badge-pill noti-icon-badge">4</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">

                <div class="dropdown-item noti-title">
                    <h5 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Notification</h5>
                </div>

                <div class="slimscroll" style="max-height: 230px;">
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                        <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                        <p class="notify-details">New user registered.<small class="text-muted">5 hours ago</small></p>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                        <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">3 days ago</small></p>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                        <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">4 days ago</small></p>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-purple"><i class="mdi mdi-account-plus"></i></div>
                        <p class="notify-details">New user registered.<small class="text-muted">7 days ago</small></p>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon bg-custom"><i class="mdi mdi-heart"></i></div>
                        <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">13 days ago</small></p>
                    </a>
                </div>
                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                    View all <i class="fi-arrow-right"></i>
                </a>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle arrow-none" data-toggle="dropdown" href=javascript:void(0) role="button"
                aria-haspopup="false" aria-expanded="false">
                <i class="far fa-comment-alt noti-icon"></i>
                <span class="badge badge-custom badge-pill noti-icon-badge">6</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated dropdown-lg">
                <div class="dropdown-item noti-title">
                    <h5 class="m-0"><span class="float-right"><a href="" class="text-dark"><small>Clear All</small></a> </span>Chat</h5>
                </div>

                <div class="slimscroll" style="max-height: 230px;">
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon"><img src="assets/images/users/avatar-2.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                        <p class="notify-details">Cristina Pride</p>
                        <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our next meeting</p>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon"><img src="assets/images/users/avatar-3.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                        <p class="notify-details">Sam Garret</p>
                        <p class="text-muted font-13 mb-0 user-msg">Yeah everything is fine</p>
                    </a>
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon"><img src="assets/images/users/avatar-4.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                        <p class="notify-details">Karen Robinson</p>
                        <p class="text-muted font-13 mb-0 user-msg">Wow that's great</p>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon"><img src="assets/images/users/avatar-5.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                        <p class="notify-details">Sherry Marshall</p>
                        <p class="text-muted font-13 mb-0 user-msg">Hi, How are you? What about our next meeting</p>
                    </a>

                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <div class="notify-icon"><img src="assets/images/users/avatar-6.jpg" class="img-fluid rounded-circle" alt="" /> </div>
                        <p class="notify-details">Shawn Millard</p>
                        <p class="text-muted font-13 mb-0 user-msg">Yeah everything is fine</p>
                    </a>
                </div>

                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                    View all <i class="fi-arrow-right"></i>
                </a>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user arrow-none" data-toggle="dropdown" href=javascript:void(0) role="button"
                aria-haspopup="false" aria-expanded="false" (click)="navUserActive = !navUserActive">
                <img src="assets/img/users/avatar-1.jpg" alt="user" class="rounded-circle"> <span *ngIf="!isEmptyObject(userinfo)" class="ml-1">{{userinfo.name}}<i class="fas fa-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown "  [ngClass]="{ 'show' : navUserActive }">
                <div class="dropdown-item noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fas fa-user"></i> <span>My Account</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fas fa-cog"></i> <span>Settings</span>
                </a>

                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fas fa-life-ring"></i> <span>Support</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fi-lock"></i> <span>Lock Screen</span>
                </a>

                <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logout()">
                    <i class="fas fa-power-off"></i> <span>Logout</span>
                </a>

            </div>
        </li>
    </ul> -->

    <ul class="list-unstyled topnav-menu float-right mb-0">

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle  waves-effect" data-toggle="dropdown" href="index.html#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="fe-bell noti-icon"></i>
                <span class="badge badge-danger rounded-circle noti-icon-badge">4</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-lg">

                <div class="dropdown-item noti-title">
                    <h5 class="m-0">
                        <span class="float-right">
                            <a href="index.html" class="text-dark">
                                <small>Clear All</small>
                            </a>
                        </span>Notification
                    </h5>
                </div>

                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 518.5px;"><div class="slimscroll noti-scroll" style="overflow: hidden; width: auto; height: 518.5px;">

                       <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-success"><i class="mdi mdi-comment-account-outline"></i></div>
                            <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">1 min ago</small></p>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-info"><i class="mdi mdi-account-plus"></i></div>
                            <p class="notify-details">New user registered.<small class="text-muted">5 hours ago</small></p>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-danger"><i class="mdi mdi-heart"></i></div>
                            <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">3 days ago</small></p>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-warning"><i class="mdi mdi-comment-account-outline"></i></div>
                            <p class="notify-details">Caleb Flakelar commented on Admin<small class="text-muted">4 days ago</small></p>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-purple"><i class="mdi mdi-account-plus"></i></div>
                            <p class="notify-details">New user registered.<small class="text-muted">7 days ago</small></p>
                        </a>

                        <a href="javascript:void(0);" class="dropdown-item notify-item">
                            <div class="notify-icon bg-primary"><i class="mdi mdi-heart"></i></div>
                            <p class="notify-details">Carlos Crouch liked <b>Admin</b><small class="text-muted">13 days ago</small></p>
                        </a>

                </div><div class="slimScrollBar" style="background: rgb(158, 165, 171) none repeat scroll 0% 0%; width: 8px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div></div>

                
                <a href="javascript:void(0);" class="dropdown-item text-center text-primary notify-item notify-all">
                    View all
                    <i class="fi-arrow-right"></i>
                </a>

            </div>
        </li>

        <li class="dropdown notification-list">
            <a class="nav-link dropdown-toggle nav-user arrow-none" data-toggle="dropdown" href=javascript:void(0) role="button"
                aria-haspopup="false" aria-expanded="false" (click)="navUserActive = !navUserActive">
                <img src="assets/images/users/avatar-1.jpg" alt="user" class="rounded-circle"> <span *ngIf="!isEmptyObject(userinfo)" class="ml-1">{{userinfo.name}} &nbsp;<i class="mdi mdi-chevron-down"></i> </span>
            </a>
            <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown "  [ngClass]="{ 'show' : navUserActive }">
                <div class="dropdown-item noti-title">
                    <h6 class="text-overflow m-0">Welcome !</h6>
                </div>

                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fas fa-user"></i> <span>My Account</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fas fa-cog"></i> <span>Settings</span>
                </a>

                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fas fa-life-ring"></i> <span>Support</span>
                </a>
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                    <i class="fi-lock"></i> <span>Lock Screen</span>
                </a>

                <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logout()">
                    <i class="fas fa-power-off"></i> <span>Logout</span>
                </a>

            </div>
        </li>
    </ul>



    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li>
            <button class="button-menu-mobile disable-btn waves-effect">
                <i class="fe-menu"></i>
            </button>
        </li>
        <li>
            <h4 class="page-title-main">Dashboard</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html#">Highdmin</a></li>
                <li class="breadcrumb-item"><a href="index.html#">Dashboard</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </li>
    </ul>

</nav>

