<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">

        <div class="topbar-left">
            <a href="javascript:void(0)" class="logo">
                <span>
                    <img src="assets/images/tc-white.png" alt="" height="40">
                </span>
                <i>
                    <img src="assets/images/tc-white.png" alt="" height="28">
                </i>
            </a>
        </div>
        <div class="user-box">
            <!-- <img src="assets/images/users/avatar-1.jpg" alt="user-img" title="Mat Helme" class="rounded-circle img-thumbnail avatar-md">
            <div class="dropdown">
                <a href="index.html#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">Maxine Kennedy</a>
            </div>
            <p class="text-muted">Admin Head</p> -->
        </div>

        <div id="sidebar-menu" class="mm-active">

            <ul class="metismenu mm-show" id="side-menu">

                <li>
                    <a [routerLink]="['/dashboard']">
                        <i class="fe-airplay"></i>
                        <span class="badge badge-danger float-right">3</span>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li class="mm-active">
                    <a href="javascript: void(0);" class="active">
                        <i class="fe-box"></i>
                        <span> Icons </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level mm-collapse mm-show" aria-expanded="false">
                        <li><a href="icons-materialdesign.html">Material Design</a></li>
                        <li><a href="icons-dripicons.html">Dripicons</a></li>
                        <li><a href="icons-fontawesome.html">Font awesome</a></li>
                        <li class="mm-active"><a href="icons-feather.html" class="active">Feather Icons</a></li>
                        <li><a href="icons-simpleline.html">Simple Line Icons</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-file-text"></i>
                        <span> Tables </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="tables-basic.html">Basic Tables</a></li>
                        <li><a href="tables-datatable.html">Data Tables</a></li>
                        <li><a href="tables-responsive.html">Responsive Table</a></li>
                        <li><a href="tables-tablesaw.html">Tablesaw Tables</a></li>
                        <li><a href="tables-foo.html">Foo Tables</a></li>
                    </ul>
                </li>

                <li class="menu-title">More</li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-map"></i>
                        <span> Maps </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="maps-google.html">Google Maps</a></li>
                        <li><a href="maps-vector.html">Vector Maps</a></li>
                        <li><a href="maps-mapael.html">Mapael Maps</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-book-open"></i>
                        <span> Pages </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="page-starter.html">Starter Page</a></li>
                        <li><a href="page-login.html">Login</a></li>
                        <li><a href="page-register.html">Register</a></li>
                        <li><a href="page-logout.html">Logout</a></li>
                        <li><a href="page-recoverpw.html">Recover Password</a></li>
                        <li><a href="page-lock-screen.html">Lock Screen</a></li>
                        <li><a href="page-confirm-mail.html">Confirm Mail</a></li>
                        <li><a href="page-404.html">Error 404</a></li>
                        <li><a href="page-404-alt.html">Error 404-alt</a></li>
                        <li><a href="page-500.html">Error 500</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="fe-plus-square"></i>
                        <span class="badge badge-success float-right">Hot</span>
                        <span> Extra Pages </span>

                    </a>
                    <ul class="nav-second-level mm-collapse" aria-expanded="false">
                        <li><a href="extras-timeline.html">Timeline</a></li>
                        <li><a href="extras-profile.html">Profile</a></li>
                        <li><a href="extras-invoice.html">Invoice</a></li>
                        <li><a href="extras-faq.html">FAQ</a></li>
                        <li><a href="extras-pricing.html">Pricing</a></li>
                        <li><a href="extras-email-template.html">Email Templates</a></li>
                        <li><a href="extras-ratings.html">Ratings</a></li>
                        <li><a href="extras-search-results.html">Search Results</a></li>
                        <li><a href="extras-gallery.html">Gallery</a></li>
                        <li><a href="extras-maintenance.html">Maintenance</a></li>
                        <li><a href="extras-coming-soon.html">Coming Soon</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);">
                        <i class="mdi mdi-share-variant"></i>
                        <span> Multi Level </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level nav mm-collapse" aria-expanded="false">
                        <li>
                            <a href="javascript: void(0);">Level 1.1</a>
                        </li>
                        <li>
                            <a href="javascript: void(0);" aria-expanded="false">Level 1.2
                                <span class="menu-arrow"></span>
                            </a>
                            <ul class="nav-third-level nav mm-collapse" aria-expanded="false">
                                <li>
                                    <a href="javascript: void(0);">Level 2.1</a>
                                </li>
                                <li>
                                    <a href="javascript: void(0);">Level 2.2</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>

        <div class="clearfix"></div>

    </div>

</div>