<div class="accountbg" style="background: url('assets/img/bg-1.jpg');background-size: cover;"></div>
<div class="wrapper-page account-page-full">

    <div class="card">
        <div class="card-block">

            <div class="account-box">

                <div class="card-box p-5">
                    <h2 class="text-u_ppercase text-center pb-4">
                        <a [routerLink]="['/login']" class="text-info">
                            <span>PansonAdmin</span>
                        </a>
                    </h2>

                    <div *ngIf="submitted && userInfo.error" class="alert alert-danger">{{userInfo.message}}</div>

                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                        <div class="form-group m-b-20 row">
                            <div class="col-12">
                                <label for="email">Email address</label>
								<input type="email"  id="email" placeholder="Enter your email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" >
								<div *ngIf="submitted && f.email.errors" class="invalid-feedback">
									<div *ngIf="f.email.errors.required">Email is required.</div>
									<div *ngIf="f.email.errors.email">Email is not valid.</div>
								</div>
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">
                                <a href="page-recoverpw.html" class="text-muted float-right"><small>Forgot your password?</small></a>
                                <label for="password">Password</label>
								<input type="password" id="password" placeholder="Enter your password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
								<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
									<div *ngIf="f.password.errors.required">Password is required</div>
								</div>
                            </div>
                        </div>

                        <div class="form-group row m-b-20">
                            <div class="col-12">

                                <!-- <div class="checkbox checkbox-custom">
                                    <input id="remember" type="checkbox" checked="">
                                    <label for="remember">
                                        Remember me
                                    </label>
                                </div> -->

                            </div>
                        </div>

                        <div class="form-group row text-center m-t-10">
                            <div class="col-12">
                                <button class="btn btn-block btn-lg btn-custom" type="submit" (click)="submit_btn_clicked()" [disabled]="loader"><span *ngIf="!loader">Sign In</span> <i *ngIf="loader" class="fas fa-spinner fa-spin"></i></button>
                                
                            </div>
                        </div>

                    </form>

                    <!-- <div class="row m-t-50">
                        <div class="col-sm-12 text-center">
                            <p class="text-muted">Don't have an account? <a [routerLink]="['/register']" class="text-dark m-l-5"><b>Sign Up</b></a></p>
                        </div>
                    </div> -->

                </div>
            </div>

        </div>
    </div>

    <div class="m-t-40 text-center">
        <p class="account-copyright">2018 ©PansonAdmin- sonisofts</p>
    </div>

</div>