.accountbg {
	position: absolute;
	background-size: cover;
	height: 100%;
	width: 100%;
	top: 0;
}
.account-page-full {
	right: 0;
	position: absolute;
	height: 100%;
	margin: 0;
	width: 540px;
	background-color: #ffffff;
}
.account-page-full .card {
	border: none;
}
.card {
	border: none;
}